LAB_9_10/LAB10 20161811_20161442/LAB10 20161811_20161442/GameSoftLab10CS/GameSoft/GameSoftApp/Connected Services/DBControllerWS/DBControllerWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.web.gamesoft.pucp/" targetNamespace="http://services.web.gamesoft.pucp/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="queryAllDepartmentsIndependent" type="tns:queryAllDepartmentsIndependent" />
  <xs:element name="queryAllDepartmentsIndependentResponse" type="tns:queryAllDepartmentsIndependentResponse" />
  <xs:element name="queryAllEmployeesIndependent" type="tns:queryAllEmployeesIndependent" />
  <xs:element name="queryAllEmployeesIndependentResponse" type="tns:queryAllEmployeesIndependentResponse" />
  <xs:complexType name="queryAllDepartmentsIndependent">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllDepartmentsIndependentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:department" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="department">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="departments" nillable="true" type="tns:department" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="employees" nillable="true" type="tns:employee" />
      <xs:element minOccurs="0" name="headDepartment" type="tns:department" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DNI" type="xs:string" />
      <xs:element minOccurs="0" name="department" type="tns:department" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="employees" nillable="true" type="tns:employee" />
      <xs:element minOccurs="0" name="headEmployee" type="tns:employee" />
      <xs:element minOccurs="0" name="hireDate" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lastName" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="role" type="tns:role" />
      <xs:element name="salary" type="xs:double" />
      <xs:element minOccurs="0" name="secondLastName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="role">
    <xs:sequence>
      <xs:element name="maxSalary" type="xs:float" />
      <xs:element name="minSalary" type="xs:float" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllEmployeesIndependent">
    <xs:sequence>
      <xs:element name="idDepartment" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllEmployeesIndependentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>