LAB_9_10/LAB10 20161811_20161442/LAB10 20161811_20161442/GameSoftLab10CS/GameSoft/GameSoftApp/Connected Services/DBControllerWS/DBControllerWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.web.gamesoft.pucp/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="DBControllerWS" targetNamespace="http://services.web.gamesoft.pucp/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://192.168.207.115:8080/GameSoftWeb/DBControllerWS?xsd=1" namespace="http://services.web.gamesoft.pucp/" />
    </xsd:schema>
  </types>
  <message name="queryAllEmployeesIndependent">
    <part name="parameters" element="tns:queryAllEmployeesIndependent" />
  </message>
  <message name="queryAllEmployeesIndependentResponse">
    <part name="parameters" element="tns:queryAllEmployeesIndependentResponse" />
  </message>
  <message name="queryAllDepartmentsIndependent">
    <part name="parameters" element="tns:queryAllDepartmentsIndependent" />
  </message>
  <message name="queryAllDepartmentsIndependentResponse">
    <part name="parameters" element="tns:queryAllDepartmentsIndependentResponse" />
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <portType name="DBControllerWS">
    <operation name="queryAllEmployeesIndependent">
      <input wsam:Action="http://services.web.gamesoft.pucp/DBControllerWS/queryAllEmployeesIndependentRequest" message="tns:queryAllEmployeesIndependent" />
      <output wsam:Action="http://services.web.gamesoft.pucp/DBControllerWS/queryAllEmployeesIndependentResponse" message="tns:queryAllEmployeesIndependentResponse" />
    </operation>
    <operation name="queryAllDepartmentsIndependent">
      <input wsam:Action="http://services.web.gamesoft.pucp/DBControllerWS/queryAllDepartmentsIndependentRequest" message="tns:queryAllDepartmentsIndependent" />
      <output wsam:Action="http://services.web.gamesoft.pucp/DBControllerWS/queryAllDepartmentsIndependentResponse" message="tns:queryAllDepartmentsIndependentResponse" />
    </operation>
    <operation name="hello">
      <input wsam:Action="http://services.web.gamesoft.pucp/DBControllerWS/helloRequest" message="tns:hello" />
      <output wsam:Action="http://services.web.gamesoft.pucp/DBControllerWS/helloResponse" message="tns:helloResponse" />
    </operation>
  </portType>
  <binding name="DBControllerWSPortBinding" type="tns:DBControllerWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="queryAllEmployeesIndependent">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllDepartmentsIndependent">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DBControllerWS">
    <port name="DBControllerWSPort" binding="tns:DBControllerWSPortBinding">
      <soap:address location="http://192.168.207.115:8080/GameSoftWeb/DBControllerWS" />
    </port>
  </service>
</definitions>